
@{
    ViewBag.Title = "book_arenda";
}

<h2>Аренда книг</h2>
<div>
    <table>
        <tr>
            <td>ID</td>
            <td>ФИО</td>
            <td>Книга</td>
            <td>Дата начало</td>
            <td>Дата конца</td>
        </tr>
        @foreach (var book_arenda in ViewBag.book_arenda)
        {
        <tr>
            <td>@book_arenda.Id</td>
            <td>@book_arenda.FIO.Fio</td>
            <td>@book_arenda.Book.Name_book</td>
            <td>@book_arenda.Data_1</td>
            <td>@book_arenda.Data_2</td>
        </tr>
        }
    </table>
</div>
